<div class="container">
    <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Book a Table</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae enim quae vitae cupiditate, sequi
                quam ea id dolor reiciendis consectetur repudiandae. Rem quam, repellendus veniam ipsa fuga maxime odio?
                Eaque!</p>
            <p><a href="reservation.html" class="btn btn-primary btn-outline">Book Now</a></p>
        </div>
    </div>
</div>